---
apiVersion: jetstream.nats.io/v1beta2
kind: Stream
metadata:
  name: stream
  namespace: {{ namespace.messaging }}
spec:
  name: stream
  subjects: [
      "contact-person"
  ]
  maxBytes: 500000000
  storage: memory
  retention: limits
  discard: old
  replicas: 3