---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: message-publisher
  namespace: "{{ namespace.capnproto }}"

spec:
  replicas: 1
  selector:
    matchLabels:
      app: message-publisher
  template:
    metadata:
      labels:
        app: message-publisher

    spec:
      imagePullSecrets:
        - name: docker-registry-credentials
      containers:
        - name: app
          image: saggzz/message-publisher:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3001
              name: http
          volumeMounts:
            - name: docker-registry
              mountPath: /var/run/secrets/kubernetes.io/serviceaccount
      volumes:
        - name: docker-registry
          secret:
            secretName: docker-registry-credentials