1---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: message-publisher-ingress
  namespace: {{ namespace.capnproto }}
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web

spec:
  entryPoints:
    - web
  routes:
    - match: Host(`ingress.minikube`) && PathPrefix(`/datas/number`)
      kind: Rule
      services:
        - name: message-publisher-service
          port: 3001
    - match: Host(`ingress.minikube`) && PathPrefix(`/datas/typed`)
      kind: Rule
      services:
        - name: message-publisher-service
          port: 3001