---
apiVersion: v1
kind: Secret
metadata:
  name: docker-registry-credentials
  namespace: {{ namespace.capnproto }}
type: kubernetes.io/dockerconfigjson

data:
  .dockerconfigjson: <PROVIDE-YOUR-HASH>